table i.material-icons {
  color: #5a6169 !important;
  font-size: 17px !important;
}
table button {
  border: none;
  background: none;
}

table a.edit i.material-icons:hover {
  color: #0056b3 !important
}


table button.delete i.material-icons:hover {
  color: #a70c0c !important
}

.card-header h6 {
  padding-top: 5px;
  float: left;
}
.card-header a.btn {
  float: right;
}

